# Drizzle
# Replace with your DB credentials!
DATABASE_URL="postgres://user:password@host:port/db-name"
SEED_AUTH_TOKEN=#admin bearer token for doing admin seeding
AUTH_SECRET=#for authjs
JWT_SECRET_KEY=
JWT_EXPIRES_IN=15 #in minutes

PUBLIC_BASE_VOTER_DOMAIN=http://localhost:5173 #Used for generating links in voter cards, etc.